<br>
<br>
<div class="container wow fadeInUp" data-wow-delay="0.3s">
  <div class="row wow fadeInUp" data-wow-delay="0.3s">
    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <div class="card  wow bounceInLeft" data-wow-delay="0.2s">
        <h1 class="text-center blue-text font-weight-bold">Giới thiệu về VINASS</h1>
        <p class="font-weight-normal system1">
          Đây là 1 team lập trình, được thành lập nhằm mục đích, đưa ra các giải pháp về công nghệ phần mềm. Bạn là 1 start up, bạn
          muốn phát triển về phần mềm, nhưng lại không có kinh nghiệp về lập trình, thì VINASS sẽ đồng hành cũng bạn, giúp
          bạn tạo ra các sản phầm ưng ý. Hoặc bạn là một công ty về công nghệ, thiết bị điện tử, và bạn cần một patner có
          thể giúp bạn phát triển thêm, thì VINASS có thể đồng hành, đưa ra ý tưởng, chiến lược và thực hiện nó.
        </p>
      </div>

    </div>
  </div>
  <hr>
  <br>
  <br>
  <br>
  <h1 class="text-center blue-text font-weight-bold">Các dịch vụ của VINASS</h1>
  <div class="row wow fadeInUp" data-wow-delay="0.3s">
    <div class="col-lg col-md-12 mb-lg-0 mb-4 system">
      <div class=" card  wow bounceInLeft" data-wow-delay="0.5s">
        <h1 class="text-center black-text font-weight-bold">Website</h1>
        <p class="font-weight-normal system left-text">
          VINASS nhận thiết kế tất cả website để giới thiệu công ty, giới thiệu sản phẩm, và các web site bán hàng. Tất cả những website
          sẽ được thiết kế, một cách hiện đại và khoa học, và tương thích trên điện thoại.
        </p>
      </div>

    </div>

    <div class="col-lg col-md-12 mb-lg-0 mb-4 system ">
      <div class=" card  wow bounceInLeft" data-wow-delay="0.4s">
        <h1 class="text-center black-text font-weight-bold"> Đối tác</h1>
        <p class="font-weight-normal system">
          VINASS sẵn sàng là 1 đối tác đáng tin và tiềm năng trong các lĩnh vực số, tự động. Nếu bạn có 1 dự án, và cần 1 đối tác để
          phát triển cùng, thì Vinass sẽ đồng hành cũng các bạn để đưa ra những giải pháp và thực hiên nó.

        </p>
      </div>

    </div>
    <div class="col-lg col-md-12 mb-lg-0 mb-4 system ">
      <div class=" card  wow bounceInLeft" data-wow-delay="0.5s">
        <h1 class="text-center black-text font-weight-bold"> Sản phẩm</h1>
        <p class="font-weight-normal system">
          Bên cạnh nhận những project từ khách hàng, VINASSs sẽ tự thiết kế, và hoàn thiện những sản phẩm riêng của công ty, để có
          thể cạnh tranh trên thị trường. Như những ứng dụng mobile, những trang web bán hàng, hay những diễn đàn
        </p>
      </div>

    </div>

  </div>
  <br>
  <div class="row wow fadeInUp" data-wow-delay="0.6s">
    <div class="col-lg col-md-12 mb-lg-0 mb-4 system ">
      <div class=" card  wow bounceInLeft" data-wow-delay="0.6s">
        <h1 class="text-center black-text font-weight-bold">Đào tạo</h1>
        <p class="font-weight-normal system">
          VINASS sẽ là 1 trung tâm tâm tin học uy tín trong việc giảng dạy. Các học viên sẽ được chọn các khóa học về Website, App
          mobile, thiết bị điện tử Electronic, lập trình nhúng,… được giảng dạy bởi những nhân viên kỳ cựu của VINASS và
          những chuyên gia đến từ nước ngoài.
        </p>
      </div>

    </div>
    <div class="col-lg col-md-12 mb-lg-0 mb-4 system ">
      <div class=" card  wow bounceInLeft" data-wow-delay="0.7s">
        <h1 class="text-center black-text font-weight-bold">Application</h1>
        <p class="font-weight-normal system">
          VINASS nhận thiết kế tất cả ững ứng dụng trên điện thoại Android và IOS theo yêu cầu của các đối tác, và khách hàng
        </p>
      </div>

    </div>
  </div>
</div>