.system {
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
 }

.system1 {
    color: black;
    text-align: center;
    padding-left: 25px;
    padding-right: 20px;
}