.system{
    text-align: center;
    background-color: #0099CC;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.system1{
    text-align: center;
    background-color: #ff4444;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}