<div class="container-fluid wow bounce" data-wow-delay="0.3s">
  <h1 class="text-center blue-text font-weight-bold">
    Bảng giá thiết kế web
  </h1>
  <p class="text-center font-weight-normal black-text">Giá cả phù hợp theo từng chức năng sản phẩm bạn cần.</p>
  <p class="text-center font-weight-normal black-text"> Gọi điện trực tiếp để chúng tôi có thể tư vấn cho bạn gói phù hợp với nhu cầu SDT:01628811678</p>
  <br>
  <div>
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
        <div class="card wow zoomInUp" data-wow-delay="0.3s">

          <!-- Card image -->
          <div class="system">
            <h4 class="font-weight-normal">CƠ BẢN</h4>
            <h4 class="font-weight-normal">3 - 5 triệu</h4>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class=" text-center">
              VINASS.vn
            </h4>
            <p class="text-center">Thiết Kế Theo Mẫu</p>
            <p class="text-center"> Miễn Phí Tên Miền .Com .Net</p>
            <p class="text-center">Hosting 1GB Dung Lượng</p>
            <p class="text-center"> Băng Thông Không Giới Hạn</p>
            <p class="text-center">Tặng Thiết Kế 1 Logo, 1 Banner</p>
            <p class="text-center">Backup Hàng Tuần,Theo Yêu Cầu</p>
            <p class="text-center">Thiết Kế Chuẩn SEO</p>
            <p class="text-center">Ngôn Ngữ Tiếng Việt</p>
          </div>
          <button type="button" class="btn btn-danger">Chọn Gói Này</button>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
        <div class="card  wow zoomInUp" data-wow-delay="0.3s">

          <!-- Card image -->
          <div class="system1">
            <h4 class="font-weight-normal">BÁN CHUYÊN</h4>
            <h4 class="font-weight-normal">5 - 7 triệu</h4>
          </div>


          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class=" text-center">
              VINASS.vn
            </h4>
            <p class="text-center">Thiết Kế Theo Mẫu</p>
            <p class="text-center"> Miễn Phí Tên Miền .Com .Net</p>
            <p class="text-center">Hosting 3GB Dung Lượng</p>
            <p class="text-center"> Băng Thông Không Giới Hạn</p>
            <p class="text-center">Tặng Thiết Kế 1 Logo, 1 Banner</p>
            <p class="text-center">Mạng Xã Hội Google, Facebook</p>
            <p class="text-center">Thiết Kế Chuẩn SEO</p>
            <p class="text-center">Ngôn Ngữ Anh-Việt</p>
          </div>
          <button type="button" class="btn btn-danger">Chọn Gói Này</button>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
        <div class="card  wow zoomInUp" data-wow-delay="0.3s">

          <!-- Card image -->
          <div class="system">
            <h4 class="font-weight-normal">CHUYÊN NGHIỆP</h4>
            <h4 class="font-weight-normal">7 - 10 triệu</h4>
          </div>


          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class=" text-center">
              VINASS.vn
            </h4>
            <p class="text-center">Thiết Kế Theo Mẫu</p>
            <p class="text-center"> Miễn Phí Tên Miền .Com .Net</p>
            <p class="text-center">Hosting 3GB Dung Lượng</p>
            <p class="text-center"> Băng Thông Không Giới Hạn</p>
            <p class="text-center">Tặng Thiết Kế 1 Logo, 1 Banner</p>
            <p class="text-center">Bản Đồ Google Và Mạng Xã Hội</p>
            <p class="text-center">Thiết Kế Chuẩn SEO</p>
            <p class="text-center">Ngôn Ngữ Anh-Việt</p>
          </div>
          <button type="button" class="btn btn-danger">Chọn Gói Này</button>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
        <div class="card  wow zoomInUp" data-wow-delay="0.3s">

          <!-- Card image -->
          <div class="system1">
            <h4 class="font-weight-normal">NÂNG CAO </h4>
            <h4 class="font-weight-normal">> 15 triệu</h4>
          </div>


          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class=" text-center">
              VINASS.vn
            </h4>
            <p class="text-center">Thiết Kế Theo Mẫu</p>
            <p class="text-center"> Miễn Phí Tên Miền .Com .Net</p>
            <p class="text-center">Hosting 5GB Dung Lượng</p>
            <p class="text-center"> Băng Thông Không Giới Hạn</p>
            <p class="text-center">Tặng Thiết Kế 1 Logo, 1 Banner</p>
            <p class="text-center">Thanh Toán Trực Tuyến,Yêu Cầu</p>
            <p class="text-center">Thiết Kế Chuẩn SEO</p>
            <p class="text-center">Hổ Trợ Đa Ngôn Ngữ</p>
          </div>
          <button type="button" class="btn btn-danger">Chọn Gói Này</button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <h4 class="text-center red-text font-weight-bold">
    WEBSITE BÀN GIAO BẢO HÀNH TRỌN ĐỜI – PHỤC VỤ QUÝ KHÁCH HÀNG TẬN TÂM NHẤT
  </h4>
  <p class="text-center blue-text font-weight-bold">Quý khách cài ứng dụng chát Zalo, Skype, Facebook để được phục vụ tốt nhất các ngày trong tuần. Zalo 01628811678</p>


</div>