<div class="col system">
  <div class="col">
    <div class="system">
      <h1 class="font-weight-normal">
        Chức năng
      </h1>
      <b class="font-weight-normal">
        Chúng tôi không bán phần mềm, tại Salestop1 chúng tôi thiết kế và lập trình web app theo nhu cầu riêng cho doanh nghiệp.
        Web-app tại Salestop1 là giải pháp những vấn đề tồn đọng, tối ưu mô hình kinh doanh hiện tại, tuyệt đối dễ dàng sử
        dụng mà không cần training nhân viên, report/báo cáo mọi vấn đề. Chạy trên nền tảng website, không cần cài đặt, sử
        dụng trên mọi thiết bị có internet và web browser Phân quyền sử dụng tối ưu, mỗi nhân viên chỉ cần và chỉ được truy
        cập vào các tính năng chỉ định. Quản lý tài nguyên tập trung, tìm kiếm nhanh chóng Report/báo cáo ngay sau 1 giây.
        Tư vấn và triển khai theo nhu cầu và yêu cầu, Giao diện thiết kế độc quyền. Cấu trúc web chuẩn SEO. Hiển thị tốt
        trên các thiết bị di động. Tối ưu trải nghiệm người dùng, tốc độ website. Dễ dàng
      </b>

    </div>

  </div>
  <div class="col">
    <br>
    <img [src]="image" width="40%" height="30%" alt="iphone 8">
  </div>
</div>