<div class="container">
  <div class="row ">
    <br>
    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <img class="img-fluid card-img-top" src="../../../../assets/img/logo1.png" width="1400px" height="800px" alt="Los Angeles">
    </div>

    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <img class="img-fluid card-img-top" src="../../../../assets/img/logo2.png" width="1400px" height="800px" alt="Los Angeles">
    </div>

    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <img class="img-fluid card-img-top" src="../../../../assets/img/logo3.png" width="1400px" height="800px" alt="Los Angeles">
    </div>

    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <img class="img-fluid card-img-top" src="../../../../assets/img/logo4.png" width="1400px" height="800px" alt="Los Angeles">
    </div>

    <div class="col-lg col-md-12 mb-lg-0 mb-4">
      <img class="img-fluid card-img-top" src="../../../../assets/img/logo5.png" width="1400px" height="800px" alt="Los Angeles">
    </div>
  </div>
</div>
<br>