<div class="col system">

  <div class="col">
    <div class="system">
      <h1 class="font-weight-normal">
        Tại sao chúng tôi khác biệt
      </h1>
      <b class="font-weight-normal">
        Sau khi dự án được hoàn thành quý đối tác sẽ được bảo trì miễn phí suốt đời, khắc phục sự cố trong quá trình lỗi hỗ trợ 24/7
        cho nên quý khách hàng không cần phải lo lắng khi đặt niềm tin vào chúng tôi.
      </b>
      <br>
      <ul>
        <li>
          1. Giao mã nguồn gốc khách hàng toàn quyền chỉnh sửa khi có kỹ thuật riêng .
        </li>
        <li>
          2.Bảo trì miễn phí trong quá trình hoạt động.
        </li>
        <li>
          3.Được điều chỉnh miễn phí trong quá trình thiết kế để phù hợp doanh nghiệp khách hàng.

        </li>
        <li>
          4.Bàn giao sản phẩm đúng hẹn
        </li>
        <li>
          5.Responsive và mobile version chuyên nghiệp
        </li>
      </ul>
    </div>

  </div>
  <div class="col">
    <br>
    <img [src]="image" width="50%" height="50%" alt="iphone 8">
  </div>
</div>