<div class="col system">
  <div class="col">
    <img [src]="image" width="40%" height="30%" alt="iphone 8">
  </div>
  <div class="col">
    <div class="system">
      <h1 class="font-weight-normal">
        Lập trình di động
      </h1>
      <b class="font-weight-normal">
        Lập trình ứng dung IOS/Android theo các công nghệ di động mới nhất từng thời điểm. Đáp ứng được những yêu cầu kĩ thuật cao
        cấp mà website bị giới hạn. Việc sở hữu một ứng dụng smartphone hoàn chỉnh giúp doanh nghiệp chiếm được nhiều thiện
        cảm trong mắt khách hàng. Tư vấn thiết kế UI/UX. Tư vấn tính năng hoàn thiện. Trọn gói từ website/web-service ( quản
        lý )/IOS và Android. Native clean code. Có nhận nghiên cứu Cross-platform nếu có yêu của khách hàng.
      </b>
      <br>
      <ul>
        <li>
          App ios, Android
        </li>
        <li>
          Thiết kế app ví điện tử như momo.
        </li>
        <li>
          Phần mềm đặt xe giống UBer, Grap
        </li>
        <li>
          Phần mềm đặt xe giống UBer, Grap App ios, Android
        </li>
        <li>
          Hoặc giống với bất kỳ phần mềm nào có sẵn trên thị trường hoặc chưa có
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>